{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<div id="extra" class="container" method="GET">
		<div class="title">
			<h2>The results are in!</h2>
      
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Negative Sentiment Score:
							{{postNeg}}</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Overall sentiment:
						{{overall}}</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Postive Sentiment Score: 
							{{postPos}}</p>
				</div>
			</div>
		</div>
  <div class="table">
    <table>
  <tr>
    <th>Word</th>
    <th>Prevalence</th>
    <th>Word Length</th>
  </tr>
  <tr>
  	{% for key, value in words.items() %}
  	<tr>
    <td>{{value['wordname']}}</td>
    <td>{{value['count']}}</td>
    <td>{{value['length']}}</td>
    </tr>
    {% endfor %}
  </tr>
</table>
      </div>
		<ul class="actions">
			<li><a href="#" class="button">Try Again</a></li>
		</ul>
	</div>
{% endblock %}